<a href="/bookmarks" class="header__bookmark-btn">
    <img src="/static/img/bookmark.png" alt="" class="header__bookmark-icon" width="28">
    <span class="header__bookmark-counter">{{ bookmarks_amount }}</span>
</a>