{% for post in posts %}
    <div class="items__item item">
        <div class="item__top">
            <a href="/user-feed/{{ post['poster_name'] }}" class="item__head">
                <div class="item__ava-wrap">
                    <img src={{ post['poster_avatar'] }} alt="" class="item__ava" width="47">
                </div>
                <span class="item__username">{{ post['poster_name'] }}</span>
            </a>
        </div>
        <a href="/post/{{ post['pk'] }}" class="item__post-link">
            <img src={{ post['pic'] }} alt="" width="348" class="item__post-img">
        </a>
        <p class="item__descr">{{ post['content'] | truncate(105, True) }}</p>
        <div class="item__post-info">
            <div class="item__counter">
                <img src="/static/img/eye.png" alt="" class="item__counter-icon" width="26">
                <span class="item__counter-text">{{ post['views_count'] }} </span>
                <img src="/static/img/heart.png" alt="" class="item__heart-icon" width="28">
                <span class="item__counter-text">{{ post['likes_count'] }}</span>
            </div>

        </div>
        <div class="item__post-bottom">
            <a href="/post/{{ post['pk'] }}" class="item__btn-more">Подробнее</a>
            <button type="button" class="item__bookmark-btn">
                {% if post['is_bookmarked'] %}
                    <a href="/bookmarks/remove/{{ post['pk'] }}">
                {% else %}
                    <a href="/bookmarks/add/{{ post['pk'] }}">
                {% endif %}
                <img src="/static/img/bookmark.png" alt="" class="item__bookmark-icon" width="24">
                </a>
            </button>
        </div>
    </div>
{% endfor %}